/* universal styler: This is commonly used for global resets or defaults. Because it affects everything, it should be used very intentionally. */
* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}
/* i wanted more unique colors, so here is root defining them */
:root {
    --tickle-pink: #F283AF;
    --champagne: #FBF4EB;
    --blush: #FBD9E5;
    --rose-quartz: #F9CBD6;
    --red-wine: #9E182B;
    --oat-milk: #F2E0D2;
}

body {
    background-color: var(--oat-milk); /*using the var() function to call the color def*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--red-wine);
    line-height: 1.5;
}

header {
    background-color: var(--tickle-pink);
    padding: 0px;
    margin: 0px;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

/* here i want to try a bento box typa grid */
main {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

footer {
    background-color: var(--tickle-pink);
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

table {
    width: 100%;
    border-collapse: collapse; /*this merges the lines together*/
    margin-top: 15px;
}

th, td {
    border: 1px solid var(--red-wine);
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--rose-quartz)
}

.image-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
    margin: 0;
}

.image-row img {
    width: 200px; 
    height: 200px;
    object-fit: cover; /* keeps images from looking squished */
    border-radius: 10px;
    flex-shrink: 0;
    border: 2px solid var(--blush);
    transition: transform 0.3s ease; /* smooth zoom effect??*/
}

/* im tryng to make the scrollbar cute and pink */
.image-row::-webkit-scrollbar {
    height: 8px;
}
.image-row::-webkit-scrollbar-thumb {
    background: var(--tickle-pink);
    border-radius: 10px;
}

.image-row img:hover {
    transform: scale(1.05);
}

/* rubric req: media query for responsiveness */
@media (max-width: 600px) {
    .image-row img {
        width: 150px; 
        height: 150px;
    }
}