/* universal styler: This is commonly used for global resets or defaults. Because it affects everything, it should be used very intentionally. */
* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}
/* i wanted more unique colors, so here is root defining them */
:root {
    --tickle-pink: #F283AF;
    --champagne: #FBF4EB;
    --blush: #FBD9E5;
    --rose-quartz: #F9CBD6;
    --red-wine: #9E182B;
    --oat-milk: #F2E0D2;
}

body {
    background-color: var(--oat-milk); /*using the var() function to call the color def*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--red-wine);
    line-height: 1.5;
}

header {
    background-color: var(--tickle-pink);
    padding: 0px;
    margin: 0px;
    color: white;
    text-align: center;
    padding: 1.5rem;
}

/* here i want to try a bento box typa grid */
main {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

footer {
    background-color: var(--tickle-pink);
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

table {
    width: 100%;
    border-collapse: collapse; /*this merges the lines together*/
    margin-top: 15px;
}

th, td {
    border: 1px solid var(--red-wine);
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--rose-quartz)
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;

}

.image-row img {
    width: 100px; 
    height: 100px;
    object-fit: cover; /* keeps images from looking squished */
    border-radius: 10px;
    border: 2px solid var(--blush);
}

/* rubric req: media query for responsiveness */
@media (max-width: 600px) {
    .image-row {
        flex-wrap: wrap; /* this will stack images on small screens */
    }
    .image-row img {
        width: 45%; /* shows images two-by-two on mobile */
    }
}